#autocomplete-field-sec { font-family: sans-serif; font-size: 14px; line-height: 1.6em; margin: 0; padding: 0; }
.content-area.community-select-area {
    width: 80%;
    margin: 0 auto;
}
#autocomplete-field-sec{width:100%;float:left}
#autocomplete-community{
	width: 220px;
}
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #236697; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); width: 220px;     max-height: 225px !important;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

#autocomplete-field-sec input { font-size: 18px; padding: 10px; border: 1px solid #236697; display: block; margin: 20px 0;}
.cm-ui-icon-dropdown{
	width:16px; 
	height:16px;
	position: absolute;
    top: 14%;
    right: 16%;
    margin-top: -8px;
    margin-left: -8px;
	background-image: url("../images/ui-icons-autocomplete.png");
	background-size:100%;
	background-position: -65px -16px;
	z-index:999;
}

.single-cpt-community #autocomplete-field-sec{width:250px;float:right}
.single-cpt-community #autocomplete-field-sec input { font-size: 18px; padding: 10px; border: 1px solid #236697; display: block; margin: 0px 0;}
.single-cpt-community #autocomplete-community{	width: 250px; }
.single-cpt-community .cm-ui-icon-dropdown{
    width:16px; 
    height:16px;
    position: relative;    
    float:right;
    top:inherit;
    right:inherit;
    margin-top: 15px;
    margin-left: -8px;
    background-image: url("../images/ui-icons-autocomplete.png");
    background-size:100%;
    background-position: -65px -16px;
    z-index:999;
    left: -8px;
}

input#autocomplete-community {
    background: transparent;
}
#autocomplete-field-sec span.cm-ui-icon-dropdown {
    z-index: 1;
    top: 15% !important;
    right: 48% !important;
   
}




